@font-face {
	font-family: "Dosis Light";
	src: url(../fonts/Dosis-Light.ttf);
}

@font-face {
	font-family: "Open Sans Light";
	src: url(../fonts/OpenSans-Light.ttf);
}

body {
	font-family: "Open Sans Light", Verdana, Tahoma;
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
	font-size: 14px;
	margin: 0px;
}

p {
	font-family: "Open Sans Light", Verdana, Tahoma;
	color: black;
}

h1 {
	font-family: "Dosis Light", Verdana, Tahoma;
	color: #696969;
	font-size: 25px;
}


h2 {
	font-family: "Dosis Light", Verdana, Tahoma;
	color: black;
	text-align: center;
	font-size: 15px;
}

h3 {
	font-family: "Dosis Light", Verdana, Tahoma;
	color: #808080;
	text-align: left;
	font-size: 17px;
	margin-bottom: 20px;
}

#iFrameCont {
	text-align: center;
}

/*Header Styling*/
#header {
	width: 100%;
	padding-top: 10px;
}

#icon {
	height: 40px;
	float: left;
}

#m_icon, #m_menu, #mLinks, #x_out {
	display: none;
}

#menu {
    text-align: right;
    list-style-type: none;
    float: right;
    width: 85%;
    font-family: "Open Sans Light", Verdana, Tahoma;
    font-size: 14px;
}

#menu ul li {
    display: inline;
    padding-left: 5%;
}

#menu ul li a {
    text-decoration: none;
    color: grey;
}

#menu ul li a:hover {
    color: #EFBEBE;
}

/*Intro Styling*/
#top {
	width: 100%;
	float: left;
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
	line-height: 60px;
}

span {
	border-bottom: 10px solid #efd5d5;
}

/*Work Tile Styling*/
.work {
	width: 29%;
	float: left;
	margin: 3% 2% 5% 2%;
	border: 1px black;
	opacity: .7;
	box-shadow: 5px 5px 10px grey;
}

.work:hover {
	opacity: 1.0;
}

.work_tile_pic {
	width: 100%;
}

.work_tile_text {
	width: 100%;
}

.work_des {
	text-align: center;
	color: grey;
	font-size: 13px;
}

/*Footer Styles*/
#footer {
	float: left;
	padding-top: 50px;
	width: 100%;
	font-size: 12px;
	text-align: center;
}

/*AboutMe*/
#bioPic_cont {
	padding-top: 10%;
	width: 35%;
	float: left;
}

#bioPic {
	width: 100%;
}

#biotitle_cont {
	width: 100%;
	float: left;
}

#biotitle {
	font-size: 30px;
	line-height: 45px;
}

#bioCont {
	float:left;
	width: 50%;
	padding-top: 10%;
	padding-left: 5%;
	line-height: 25px;
}

.social {
	height: 40px;
	padding-top: 30px;
	padding-right: 10px;
}

/*Petco*/
#PetcoPic_cont {
	padding-top: 2%;
	width: 35%;
	float: left;
}

#PetcoPic {
	width: 100%;
}

#PetcoCont {
	float:left;
	width: 50%;
	padding-top: 2%;
	padding-left: 5%;
	line-height: 25px;
}

/*CC Special*/
#DI {
	width: 60%;
	float: left;
	background-image: url("../img/CC/DI.png");
	background-size: 100%;
	padding: 8% 20% 8% 20%;
	margin-top: 3%;
	margin-bottom: 5%;
}

/*Rugby Special*/
.QC {
	width: 40%;
	margin: 5%;
	float: left;
	box-shadow: 10px 5px 5px grey;
}

/*work page styles*/
.title_cont {
	width: 100%;
	float: left;
}

.worktitle {
	font-size: 30px;
	line-height: 45px;
	color: #696969;
}

.worksubtitle {
	font-family: "Dosis Light", Verdana, Tahoma;
	color: #545454;
	text-align: left;
	font-size: 25px;
	margin-bottom: 20px;
}

.worksubsubtitle {
	font-family: "Dosis Light", Verdana, Tahoma;
	color: #A9A9A9;
	text-align: left;
	font-size: 17px;
	margin-bottom: 10px;
}

.workpic {
	width: 100%;
}

.deskss {
	width: 100%;
	box-shadow: 5px 5px 10px grey;
}

.smallworkpic {
	width: 100%;
	box-shadow: 5px 5px 10px grey;
}

.pic_box {
	width: 50%;
	float: left;
	padding-top: 5%;
}

.text_box {
	width: 40%;
	float: left;
	padding-left: 5%;
	padding-top: 7%;
	padding-bottom: 14%;
}

.widetext_box {
	width: 100%;
	float: left;
	padding-top: 5%;
	padding-bottom: 5%;
}

.textCont {
	float:left;
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
	padding-top: 2%;
	line-height: 25px;
}

.screenshots {
	width: 25%;
	float: left;
	margin-left: 4%;
	margin-right: 4%;
	margin-top: 3%;
	box-shadow: 5px 5px 10px grey;
}

.screenshots4 {
	width: 20%;
	float: left;
	margin-left: 2.3%;
	margin-right: 2.3%;
	margin-top: 3%;
}

.screen_cont {
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	margin-top: 5%;
	float: left;
}

/*Responsive*/
@media only screen and (max-width: 1000px) {    
    #bioPic_cont {
        width: 70%;
        padding-left: 15%;
        padding-right: 15%;
        padding-top: 5%;
    }

    #bioCont {
    	width: 80%;
    	padding-top: 2%;
    	padding-left: 10%;
    	padding-right: 10%;
    }

    #PetcoPic_cont {
        width: 60%;
        margin-top: 5%;
        padding-left: 20%;
        padding-right: 20%;
    }

    #PetcoCont {
    	width: 80%;
    	padding-top: 2%;
    	padding-left: 10%;
    	padding-right: 10%;
    }
    
}   

@media only screen and (max-width: 950px) {    
    .work {
        width: 45%;
        margin: 3% 2% 5% 2%;
    }
	
	#biotitle {
		font-size: 25px;
	}

	#bioCont {
    	width: 90%;
    	padding-top: 2%;
    	padding-left: 5%;
    	padding-right: 5%;
    }

    #PetcoCont {
    	width: 90%;
    	padding-top: 2%;
    	padding-left: 5%;
    	padding-right: 5%;
    }   

    .textCont {
    	width: 100%;
    	padding-left: 0%;
    	padding-right: 0%;
    }

    .pic_box {
    	width: 75%;
    	padding-left: 12.5%;
    	padding-right: 12.5%;
    }

    .text_box {
    	width: 100%;
 		padding-left: 0%;
 		padding-right: 0%;
 		padding-bottom: 6%;
    }

    .workpic {
    	width: 100%;
    } 
}  

@media only screen and (max-width: 700px) { 
	#m_icon {
		display: block;
		height: 40px;
		float: left;
	}

	#icon {display: none;}

	.mLinks {
		display: block;
		z-index: 99;
		width: 100%;
		height: 100vh;
		background-color: white;
	}
 	
 	#m_menu {
 		width: 100%;
	 	display: block;
		float: right;
	}

	#ham_menu, #x_out {
		float: right;
		padding-top: 10px;
	}

	#ham_menu:hover {
		cursor: pointer;
	}

	#x_out:hover {
		cursor: pointer;
	}

	.mLinks ul {		
		list-style: none;
		text-align: center;
	}

	.mLinks ul li a {
		color: grey;
		text-decoration: none;
		font-size: 20px;
		line-height: 60px;
	}

	.mLinks ul li a:hover {
		color: #EFBEBE;
	}

	#menu {
		display: none;
	}
}

@media only screen and (max-width: 550px) {
	.work {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
	
	#biotitle {
		font-size: 25px;
	}

	#bioCont {
    	width: 90%;
    	padding-top: 2%;
    	padding-left: 5%;
    	padding-right: 5%;
    }

    #PetcoCont {
    	width: 90%;
    	padding-top: 2%;
    	padding-left: 5%;
    	padding-right: 5%;
    }   

    .textCont {
    	width: 100%;
    	padding-left: 0%;
    	padding-right: 0%;
    }

    .pic_box {
    	width: 75%;
    	padding-left: 12.5%;
    	padding-right: 12.5%;
    }

    .text_box {
    	width: 100%;
 		padding-left: 0%;
 		padding-right: 0%;
 		padding-bottom: 6%;
    }

    .workpic {
    	width: 100%;
    }
}

